body {
	background-color: #9873fe;
	font-family: "Rubik", sans-serif;
}

.main {
	width: fit-content;
	margin-top: 100px;
	background-color: white;

	img {
		width: 80px;
	}

	input {
		width: 100%;
		border-bottom: 2px solid #9873fe !important;

		&:focus {
			outline: none;
		}
	}

	.chi {
		width: 100%;

		.pick {
			width: 100%;
			overflow-y: auto;
			background-color: #9873fe;
			color: white;

			option {
				background-color: white;
				color: black;
			}
		}

		.show {
			display: none;
			height: 200px;
			/* Adjust the height as needed */
			overflow-y: scroll;
			position: absolute;
			background-color: white;
			width: 100px;
			margin-top: 10px;
		}
	}

	.poi {
		width: 100;

		button {
			width: 100%;
		}

		.output {
			background-color: rgba(225, 225, 225, 0.656);
		}
	}
}